<!DOCTYPE html>
{% extends 'base2.html' %} {% block content %}
<section class="container-fluid">
  <div class="caption center-align"><h2>Add Your Own Recipe</h2></div>
  <br />

  <form action="{{ url_for('insert_recipe') }}" method="POST">
    <i class="fa fa-bars text-primary" aria-hidden="true"></i>
    <select class="form-control" id="food" name="food">
      <option value="" disabled selected>Choose Food Type</option>

      {% for food in food_type %}
      <option value="{{food.food}}">{{food.food}}</option>
      {% endfor %} </select
    ><br />
    <i class="fa fa-cutlery text-primary" aria-hidden="true"></i>
    <input
      id="dish_name"
      name="dish_name"
      class="form-control"
      type="text"
      placeholder="Recipe Name"
    /><br />
    <i class="fa fa-file-image-o text-primary" aria-hidden="true"></i>
    <input
      id="image"
      name="image"
      class="form-control"
      type="text"
      placeholder="Image URL"
    /><br />
    <i class="fa fa-shopping-basket text-primary" aria-hidden="true"></i>
    <textarea
      id="ingredients"
      name="ingredients"
      class="form-control"
      rows="3"
      placeholder="Ingredients For Your Recipe"
    ></textarea
    ><br />
    <i class="fa fa-fire text-primary" aria-hidden="true"></i>
    <textarea
      id="cooking_method"
      name="cooking_method"
      class="form-control"
      rows="3"
      placeholder="Cooking Method"
    ></textarea
    ><br />

    <input
      name="action"
      class="btn btn-primary rounded"
      type="submit"
      value="Submit"
    />
  </form>
</section>
{% endblock %}
