<!DOCTYPE html>
{% extends 'base2.html' %} {% block content %}
<div class="caption center-align"><h2>Add Your Own Recipe</h2></div>

<form action="{{ url_for('insert_recipe') }}" method="POST">

<select class="form-control" id="food" name="food">
  <option value="" disabled selected>Choose Food Type</option>

  {% for food in food_type %}
    <option value="{{food.food}}">{{food.food}}</option>
  {% endfor %}
      
</select><br>

<input id="dish_name" name="dish_name" class="form-control" type="text" placeholder="Recipe Name"><br>

<input id="image" name="image" class="form-control" type="text" placeholder="Image URL"><br>

<textarea id="ingredients" name="ingredients" class="form-control" rows="3" placeholder="Ingredients For Your Recipe"></textarea><br>

<textarea id="cooking_method" name="cooking_method" class="form-control" rows="3" placeholder="Cooking Method"></textarea><br>

<input name="action" class="btn btn-primary rounded" type="submit" value="Submit">

</form>

{% endblock %}
