<!DOCTYPE html>
{% extends 'base.html' %} {% block content %}

<h1>Add Recipe</h1>

<div class="row">
    <form action="" method="POST"  class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">poll</i>
                <select id="food" name="food">
                  <option value="" disabled selected>Choose Food Type</option>
                  {% for food in food_type %}
                      <option value="{{food.food_type}}">{{food.food_type}}</option>
                  {% endfor %}
                </select>
                <label>Recipe Type</label>
            </div>
      </div>

      <div class="row">
        <div class="input-field col s4">
          <i class="material-icons prefix">account_circle</i>
          <input id="food_type" name="food_type" type="text" class="validate">
          <label for="icon_prefix">Food Type</label>
        </div>
      

      
        <div class="input-field col s4">
          <i class="material-icons prefix">account_circle</i>
          <input id="dish_name" name="dish_name" type="text" class="validate">
          <label for="icon_prefix">Dish Name</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">account_circle</i>
          <textarea id="ingredients" name="ingredients" type="text" class="materialize-textarea" ></textarea>
          <label for="icon_prefix">Ingredients</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">account_circle</i>
          <textarea id="cooking_method" name="cooking_method" type="text" class="materialize-textarea"></textarea>
          <label for="icon_prefix">Cooking Method</label>
        </div>
       </div>

       
    </form>
</div>

{% endblock %}