<!DOCTYPE html>
{% extends 'base2.html' %} {% block content %}
<div class="caption center-align"><h2>Edit Recipe</h2></div>

<form action="{{ url_for('insert_recipe') }}" method="POST">

<select class="form-control" id="food" name="food">
  <option value="" disabled selected>Choose Food Type</option>

  {% for food in food_type %}
        {% if food.food == recipe.food%}
            <option value="{{food.food}}" selected >{{food.food}}</option>
            {% else %}
            <option value="{{food.food}}">{{food.food}}</option>
        {% endif %}
  {% endfor %}
      
</select><br>

<input id="dish_name" name="dish_name" class="form-control" type="text" value="{{recipe.dish_name}}"><br>

<input id="image" name="image" class="form-control" type="text" value="{{recipe.image}}"><br>

<textarea id="ingredients" name="ingredients" class="form-control" rows="3" placeholder="Ingredients" value="{{recipe.ingredients}}">{{recipe.ingredients}}</textarea><br>

<textarea id="cooking_method" name="cooking_method" class="form-control" rows="3" placeholder="Cooking Method">{{recipe.cooking_method}}</textarea><br>

<input name="action" class="btn btn-primary rounded" type="submit" value="Edit Recipe">

</form>

{% endblock %}
